@import 'tailwindcss';

@theme {
	--color-custom-light-gray: #f7f7f7;
	--color-custom-dark-gray: #333333;
	--color-custom-dark-blue: #254080;
	--color-custom-light-blue: #d4e5fc;
	--color-custom-light-green: #daecdc;
	--color-custom-dark-green: #2f552a;
	--color-custom-light-red: #f0d8da;
	--color-custom-dark-red: #642326;
	--color-custom-medium-gray: #99a1af;
	--font-family-base: Arial, sans-serif;
	--text-main-header-size: 32px;
}

* {
	box-sizing: border-box;
	font-size: sans-serif, Arial;
}
